# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
.python-version

# Visual Studio Code
.vscode/

# MacOS
*.DS_Store

# Design
*.af*

# Data
glem.json
events.json

# Logs
glem.log